<ion-content class="ion-padding">
  <ion-list>
    <ion-item [routerLink]="['/activities/vacancies']" detail>
      <ion-icon name="briefcase-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Vacancies</h2>
        <p>Browse and apply to job openings</p>
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/activities/appointments']" detail>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Appointments</h2>
        <p>Schedule and manage appointments</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
