<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [routerLink]="['/activities/appointments/person']" detail>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Person</h2>
        <p>Schedule appointments with individuals</p>
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/activities/appointments/organization']" detail>
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Organization</h2>
        <p>Schedule appointments with businesses</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
